body {
	background: #152743;
	background: linear-gradient(90deg, #141C3D, #12293E);
}

header {
	padding: 10px;
}

img {
	border: 2px solid #5C7989;
	border-radius: 5px;
}

a {
	padding: 5px;
	color: #00769F;
	text-decoration: none;
	border: 2px solid  #00769F;
	border-radius: 4px;
}

a:hover {
	border-radius: 5px;
	border: 2px solid #ACDDF9;
	color: #ACDDF9;
}

#datetime {
	padding: 5px;
	color: #00769F;
}

#datetime:hover {
	color: #ACDDF9;
}

hr {
	color: #1A3D5E;
	color: rgba(26, 61, 94, 0.2);
}

button {
	background: #00769F;
	background: linear-gradient(180deg, #1B3E62, #00759F);
	padding: 50px;
	margin: 30px;

	border: none;
	border: 2px solid rgba(0,0,0, 0);
	border-radius: 5px;

	color: #00BFFC;

}

button:hover {
	border: 2px solid #ACDDF9;
	color: #ACDDF9;
	box-shadow: 0px 0px 15px #2383A6;
}
/*---------------------------------------*/
.flex-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.flex-item {
	justify-content: center;
	flex-grow: 1;
	/*flex-flow: row wrap;*/
}
/*---------------------------------------*/
.flex-header {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.flex-item-header {
	/*justify-content: center;*/
	/*flex-grow: 1;*/
	/*flex-flow: row wrap;*/
}

/*------------------------manifest page-----*/

#manifest-text {
	margin: 20px 50px 20px 50px;
	padding: 20px 50px 20px 50px;
	background: #8BB1C7;
	color: #2B2F39;
	border: 5px solid #F6FAF6;
	border-radius: 1px;
	box-shadow: 0px 0px 15px #2B728F;
}

/*#manifest-text {
	margin: 20px 50px 20px 50px;
	padding: 20px 50px 20px 50px;
	background: linear-gradient(90deg, #2C607F, #183C66);
	color: #5BB7EE;
	border-radius: 4px;
}*/

#manifest-text:active {
	margin: 20px 50px 20px 50px;
	padding: 20px 50px 20px 50px;
	background: linear-gradient(90deg, #52B9F3, #A2D6F5);
	color: #1A3B58;
	border-radius: 4px;
}

/*------------------------skills page-----*/
#myskills {
	padding: 30px;
	margin: 30px;

	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
}

.skill {
	background: linear-gradient(90deg, #1D4965, #143359);
	color: #387FA5;
}

.skill:active {
	background: linear-gradient(90deg, #58B1F0, #007ABB);
	color: black;
}


tr:hover {
	box-shadow: 0px 0px 15px #2383A6;
}

table {
	border: 1px solid rgba(0,0,0, 0.2);
	border-spacing: 10px;
}

caption {
	caption-side: top; 
	text-align: left;
	color: #929EB1;
}

tr {
	border: 0px solid rgba(0,0,0, 0);
}

td {
	border: 0px solid rgba(0,0,0, 0);
	/*margin: 5px;*/
	padding: 5px;
}